// texts color
$c-txt: #242945;
$c-txt-light: #6f7285;

// primary color
$c-primary: #242945;
$c-primary-light: #2F3E92;
$c-primary-accent: #536CF6;

// secondary color
$c-secondary: #0D90BB;
$c-secondary-light: #42CFFC;
$c-secondary_accent: #99E5FD;

// background color
$c-bg: #F7F7F8;
$c-bg-light: #D9D9D9;
$c-bg-dark: #282E4E;

// signiaization color
$c-success: #00C853;
$c-warning: #FFD600;
$c-danger: #D50000;
